[user]
	name = cohama
	email = cohama@live.jp
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	editor = vim -u ~/.vim/.min.vimrc -N
	pager = less
[alias]
	a = add
	aa = add -A
	b = branch
	bd = branch -D
	c = commit -v
	ca = commit -av
	cam = commit --amend -v
	camc = commit --amend -C HEAD
	cempty = commit --allow-empty
	co = checkout
	cob = checkout -b
	d = diff
	f = fetch
	ff = pull --rebase
	l = log --oneline --graph --all --decorate
	l1 = log --oneline --graph --all --decorate -10
	l2 = log --oneline --graph --all --decorate -20
	l3 = log --oneline --graph --all --decorate -30
	m = merge --no-ff --no-commit
	p = push
	pu = push -u origin HEAD
	r = reset
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbh = rebase HEAD
	rbi = rebase --interactive
	rbo = rebase --onto
	rh = reset --hard
	s = status -s

[merge]
	tool = gvimdiff

[github]
	user = cohama

[push]
	default = simple

[diff]
	algorithm = histogram

[fetch]
	prune = true
	pruneTags = true

[pull]
	ff = only

# vim: ts=4 noexpandtab sw=4 sts=4
[init]
	defaultBranch = main
