[user]
	name = cohama
	email = cohama@live.jp
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	editor = gvim -f
[alias]
	a = add
	aa = add -A
	b = branch
	bd = branch -D
	c = commit -v
	ca = commit -av
	cam = commit --amend -v
	camc = commit --amend -C HEAD
	cempty = commit --allow-empty
	co = checkout
	cob = checkout -b
	d = diff
	f = fetch
	l = log --oneline --graph --all --decorate
	m = merge --no-ff --no-commit
	r = reset
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbh = rebase HEAD
	rbi = rebase --interactive
	rbo = rebase --onto
	rh = reset --hard
	s = status -s

[merge]
	tool = gvimdiff

[github]
	user = cohama

# vim: ts=4 noexpandtab
